:css
  .account-info-table {
    margin: 0 auto 10px;
  }

  .label {
    text-align: right;
  }

  .info-column {
    text-align: left;
  }

  .cancel-section {
    margin-top: 60px;
  }

  .cancel-text {
    padding: 5px;
  }

  .change-password-section {
    margin-top: 60px;
  }

%div.page-header
  Account Info
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}

  %table.account-info-table
    %tr
      %td.label
        = f.label 'Email'
      %td.info-column
        %div.form-field
          = f.email_field :email, autofocus: true
    %tr
      %td.label
        = f.label 'Username'
      %td.info-column
        %div.form-field
          = f.text_field :username
    %tr
      %td.label
        = f.label 'Name'
      %td.info-column
        %div.form-field
          = f.text_field :name

    %tr
      %td.label
        = f.label 'Daily summary email?'
      %td.info-column
        %div.form-field
          = f.check_box :daily_email

    %tr
      %td.label
        = f.label 'Public account?'
      %td.info-column
        %div.form-field
          = f.check_box :public

  %div.form-select
    = f.time_zone_select :time_zone, nil, default: 'London'

  - if f.object.encrypted_password.present?
    %div.form-field
      = f.password_field :current_password, placeholder: 'Password'
    %div.prompt-text
      Input your password if you want to make any changes
  %div.form-button
    = f.submit 'Update Account', class: 'btn'

%div.change-password-section
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!

    %div.form-field
      = f.password_field :password, autocomplete: 'off', placeholder: 'New Password'
    %div.form-field
      = f.password_field :password_confirmation, placeholder: 'New Password Confirmation'
    %div.form-field
      = f.password_field :current_password, placeholder: 'Current Password'

    %div.form-button
      = f.submit 'Change Password', class: 'btn'

%div.cancel-section
  %div.form-button
    %div.cancel-text
      Unhappy?
    #{button_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn'}
