%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  %div
    = f.label :username
    %br/
    = f.text_field :username
  %div
    = f.label :name
    %br/
    = f.text_field :name
  - if f.object.password_required?
    %div
      = f.label :password
      %br/
      = f.password_field :password
  %div
    = f.time_zone_select :time_zone, nil, default: "London"
  %div= f.submit "Sign up"
= render "devise/shared/links"
