%h4
  Wunderlist Accounts
%div
  = link_to 'Add Account', '/users/auth/wunderlist'
- @accounts.each do |account|
  %div.account-name
    = account.email
  %div.account-info
    %div.account-form
      = form_for [current_user, account] do |f|
        %div
          = f.label :public
          = f.check_box :public
        %div
          = f.label :activated
          = f.check_box :activated
        %div
          = f.submit 'Update Account'

      = form_for [current_user, account], url: '/users/reauth/wunderlist', method: :post do |f|
        %div
          = hidden_field_tag :account_id, account.id 
          = f.label 'Wunderlist Account Email'
          = text_field_tag 'email'
        %div
          = f.label 'Wunderlist Password'
          = password_field_tag 'password'
        %div
          = f.submit 'Reauthorize Account'
    %div
      = link_to 'Delete Account', user_wunderlist_account_path(@user, account), confirm: 'Are you really, completely sure?', method: :delete
