%div.circle-logo-lg.wunderlist-logo-circle
%div.page-header.service-account-management-header
  Wunderlist Accounts

%div.add-service-account-btn
  = link_to 'Add Account', user_wunderlist_accounts_path(@user), method: :post, class: 'btn'
%div
  - @accounts.each do |account|
    = form_for [current_user, account] do |f|
      %table.service-account-table
        %tr
          %td.service-account-table-label
            %b
              Email
          %td.service-account-table-value
            %div.account-name
              = account.email
        - if current_user.public
          %tr
            %td.service-account-table-label
              %b
                = f.label :public
            %td.service-account-table-value
              = f.check_box :public
        %tr
          %td.service-account-table-label
            %b
              = f.label :activated
          %td.service-account-table-value
            = f.check_box :activated

      %div
        = f.submit 'Update Account', class: 'btn'

    %div.account-management-buttons
      %div
        = link_to 'Reauthorize Account', '/users/reauth/wunderlist?' + { account_id: account.id }.to_param, method: :post, class: 'btn'
      %div
        = link_to 'Delete Account', user_wunderlist_account_path(@user, account), confirm: 'Are you really, completely sure?', method: :delete, class: 'btn'
