- content_for :stylesheets do
  = stylesheet_link_tag "connections"

- if user_signed_in?

  %section.connections

    %h2.connections-intro
      Click on the services that you would like to connect to your account

    %section.connections-grid

      %div.service-connection-container
        %a{href:"/users/auth/twitter"}
          - if !@user.twitter_accounts.empty?
            %div.twitter-img.twitter-logo.service-connection-img
          - else
            %div.twitter-img-grayscale.twitter-logo.service-connection-img
          %h3 Twitter
          - if !@user.twitter_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_twitter_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/github"}
          - if !@user.github_accounts.empty?
            %div.github-img.github-logo.service-connection-img
          - else
            %div.github-img-grayscale.github-logo.service-connection-img
          %h3 GitHub
          - if !@user.github_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_github_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/evernote"}
          - if !@user.evernote_accounts.empty?
            %div.evernote-img.evernote-logo.service-connection-img
          - else
            %div.evernote-img-grayscale.evernote-logo.service-connection-img
          %h3 Evernote
          - if !@user.evernote_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_evernote_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/instagram"}
          - if !@user.instagram_accounts.empty?
            %div.instagram-img.instagram-logo.service-connection-img
          - else
            %div.instagram-img-grayscale.instagram-logo.service-connection-img
          %h3 Instagram
          - if !@user.instagram_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_instagram_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/wunderlist"}
          - if !@user.wunderlist_accounts.empty?
            %div.wunderlist-img.wunderlist-logo.service-connection-img
          - else
            %div.wunderlist-img-grayscale.wunderlist-logo.service-connection-img
          %h3 Wunderlist
          - if !@user.wunderlist_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_wunderlist_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/facebook"}
          - if !@user.facebook_accounts.empty?
            %div.facebook-img.facebook-logo.service-connection-img
          - else
            %div.facebook-img-grayscale.facebook-logo.service-connection-img
          %h3 Facebook
          - if !@user.facebook_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_facebook_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/fitbit"}
          - if !@user.fitbit_accounts.empty?
            %div.fitbit-img.fitbit-logo.service-connection-img
          - else
            %div.fitbit-img-grayscale.fitbit-logo.service-connection-img
          %h3 Fitbit
          - if !@user.fitbit_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_fitbit_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/pocket"}
          - if !@user.pocket_accounts.empty?
            %div.pocket-img.pocket-logo.service-connection-img
          - else
            %div.pocket-img-grayscale.pocket-logo.service-connection-img
          %h3 Pocket
          - if !@user.pocket_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_pocket_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/lastfm"}
          - if !@user.lastfm_accounts.empty?
            %div.lastfm-img.lastfm-logo.service-connection-img
          - else
            %div.lastfm-img-grayscale.lastfm-logo.service-connection-img
          %h3 LastFM
          - if !@user.lastfm_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_lastfm_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/instapaper"}
          - if !@user.instapaper_accounts.empty?
            %div.instapaper-img.instapaper-logo.service-connection-img
          - else
            %div.instapaper-img-grayscale.instapaper-logo.service-connection-img
          %h3 Instapaper
          - if !@user.instapaper_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_instapaper_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/rescuetime"}
          - if !@user.rescue_time_accounts.empty?
            %div.rescuetime-img.rescuetime-logo.service-connection-img
          - else
            %div.rescuetime-img-grayscale.rescuetime-logo.service-connection-img
          %h3 Rescue Time
          - if !@user.rescue_time_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_rescue_time_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/whatpulse"}
          - if !@user.whatpulse_accounts.empty?
            %div.whatpulse-img.whatpulse-logo.service-connection-img
          - else
            %div.whatpulse-img-grayscale.whatpulse-logo.service-connection-img
          %h3 WhatPulse
          - if !@user.whatpulse_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_whatpulse_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/moves"}
          - if !@user.moves_accounts.empty?
            %div.moves-img.moves-logo.service-connection-img
          - else
            %div.moves-img-grayscale.moves-logo.service-connection-img
          %h3 Moves
          - if !@user.moves_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_moves_accounts_path(@user)

      %div.service-connection-container
        %a{href:"/users/auth/runkeeper"}
          - if !@user.health_graph_accounts.empty?
            %div.sleepcycle-img.sleepcycle-logo.service-connection-img
          - else
            %div.sleepcycle-img-grayscale.sleepcycle-logo.service-connection-img
          %h3 Sleep Cycle
          - if !@user.health_graph_accounts.empty?
            %span
              = link_to 'Manage Accounts', user_health_graph_accounts_path(@user)
  :javascript
    $('.service-connection-img').hover(function() {
      $(this).addClass('desaturate');
    }, function() {
      $(this).removeClass('desaturate');
    })

    // TODO: Finish off desaturing images (transition, remove uneeded images), and consider already grayscale images e.g. instapaper