= stylesheet_link_tag "connections"

%section.connections
  
  %h2.connections-intro
    Click on the services that you would like to connect to your account

  %section.connections-grid
  
    %div.service-connection-container
      %a{href:"/users/auth/twitter"}
        = image_tag "twitter250.png", class: "service-connection-img twitter-logo"
        %h3 Twitter

    %div.service-connection-container
      %a{href:"https://github.com/login/oauth/authorize?client_id=ff7013fc7d06261543d7&scope=repo&state=bubble"}
        = image_tag "github250.png", class: "service-connection-img github-logo"
        %h3 GitHub

    %div.service-connection-container
      %a{href:"/users/auth/evernote"}
        = image_tag "evernote250.png", class: "service-connection-img evernote-logo"
        %h3 Evernote
    
    %div.service-connection-container
      %a{href:"/users/auth/instagram"}
        = image_tag "instagram250.png", class: "service-connection-img instagram-logo"
        %h3 Instagram

    %div.service-connection-container
      %a{href:"/auth/wunderlist"}
        = image_tag "wunderlist250.png", class: "service-connection-img wunderlist-logo"
        %h3 Wunderlist

    %div.service-connection-container
      %a{href:"/users/auth/facebook"}
        = image_tag "facebook250.png", class: "service-connection-img facebook-logo"
        %h3 Facebook
      
    %div.service-connection-container
      %a{href:"/users/auth/fitbit"}
        %div.fitbit-img.fitbit-logo.service-connection-img
        / = image_tag "fitbit250.png", class: "service-connection-img fitbit-logo"
        %h3 Fitbit

    %div.service-connection-container
      %a{href:"/users/auth/pocket"}
        = image_tag "pocket250.png", class: "service-connection-img pocket-logo"
        %h3 Pocket

    %div.service-connection-container
      %a{href:"/users/auth/lastfm"}
        = image_tag "lastfm250.png", class: "service-connection-img lastfm-logo"
        %h3 LastFM

    %div.service-connection-container
      %a{href:"/users/auth/instapaper"}
        = image_tag "instapaper250.png", class: "service-connection-img instapaper-logo"
        %h3 Instapaper

    %div.service-connection-container
      %a{href:"/auth/rescue_time"}
        = image_tag "rescuetime250.png", class: "service-connection-img rescuetime-logo"
        %h3 Rescue Time

    %div.service-connection-container
      %a{href:"/auth/whatpulse"}
        = image_tag "whatpulse250.png", class: "service-connection-img whatpulse-logo"
        %h3 WhatPulse

