= form_for @user, url: "/auth/wunderlist" do |f|
  = f.label "Wunderlist Email"
  = text_field_tag "wunderlist_email"
  %br/
  = f.label "Wunderlist Password"
  = password_field_tag "wunderlist_password"
  %br/
  = f.submit "Connect"
