%div.circle-logo-lg.whatpulse-logo-circle
%div.page-header.service-account-management-header
  WhatPulse Accounts

%div.add-service-account-btn
  = link_to 'Add Account', '/users/auth/whatpulse', class: 'btn'
%div
  - @accounts.each do |account|
    = form_for [current_user, account] do |f|
      %table.service-account-table
        %tr
          %td.service-account-table-label
            %b
              Username
          %td.service-account-table-value
            %div.account-name
              = f.text_field :username
        - if current_user.public
          %tr
            %td.service-account-table-label
              %b
                = f.label :public
            %td.service-account-table-value
              = f.check_box :public
        %tr
          %td.service-account-table-label
            %b
              = f.label :activated
          %td.service-account-table-value
            = f.check_box :activated

      %div
        = f.submit 'Update Account', class: 'btn'


    %div.account-management-buttons
      %div
        = link_to 'Delete Account', user_whatpulse_account_path(@user, account), confirm: 'Are you really, completely sure?', method: :delete, class: 'btn'