- content_for :javascripts do
  = javascript_include_tag "https://js.pusher.com/2.2/pusher.min.js"
- content_for :stylesheets do
  = stylesheet_link_tag "connections", media: "all"
  = stylesheet_link_tag "setup_connections", media: "all"

:javascript
  var currentUserId = "#{current_user.id}";

%div.day-info-container
  = image_tag current_user.gravatar_url, class: 'user-gravatar'
  %div.day-info-text
    %div.day-info
      = "#{current_user.name}"
    %div.day-info.day-info-hyphen
      = "-"
    %div.day-info
      = @written_date

%section.setup-container
  %section.setup-block
    %div.setup-image
      %div.twitter-img.twitter-logo.service-connection-img
      %a{href: "/users/auth/twitter", class:"twitter-auth-link auth-link", data: { provider: "twitter" }}
        %div.service-connect-btn.twitter-connect-btn
          Connect to Twitter

    %div.setup-output.twitter-output

  %section.setup-block
    %div.setup-image
      %div.github-img.github-logo.service-connection-img
      %a{href: "/users/auth/github", class:"github-auth-link auth-link", data: { provider: "github" }}
        %div.service-connect-btn.github-connect-btn
          Connect to GitHub

    %div.setup-output.github-output

  %section.setup-block
    %div.setup-image
      %div.instagram-img.instagram-logo.service-connection-img
      %a{href: "/users/auth/instagram", class:"instagram-auth-link auth-link", data: { provider: "instagram" }}
        %div.service-connect-btn.instagram-connect-btn
          Connect to Instagram

    %div.setup-output.instagram-output

  %section.setup-block
    %div.setup-image
      %div.evernote-img.evernote-logo.service-connection-img
      %a{href: "/users/auth/evernote", class:"evernote-auth-link auth-link", data: { provider: "evernote" }}
        %div.service-connect-btn.evernote-connect-btn
          Connect to Evernote

    %div.setup-output.evernote-output

  %section.setup-block
    %div.setup-image
      %div.wunderlist-img.wunderlist-logo.service-connection-img
      %a{href: "/users/auth/wunderlist", class:"wunderlist-auth-link auth-link", data: { provider: "wunderlist" }}
        %div.service-connect-btn.wunderlist-connect-btn
          Connect to Wunderlist

    %div.setup-output.wunderlist-output

  %section.setup-block
    %div.setup-image
      %div.facebook-img.facebook-logo.service-connection-img
      %a{href: "/users/auth/facebook", class:"facebook-auth-link auth-link", data: { provider: "facebook" }}
        %div.service-connect-btn.facebook-connect-btn
          Connect to Facebook

    %div.setup-output.facebook-output

  %section.setup-block
    %div.setup-image
      %div.fitbit-img.fitbit-logo.service-connection-img
      %a{href: "/users/auth/fitbit", class:"fitbit-auth-link auth-link", data: { provider: "fitbit" }}
        %div.service-connect-btn.fitbit-connect-btn
          Connect to Fitbit

    %div.setup-output.fitbit-output

  %section.setup-block
    %div.setup-image
      %div.pocket-img.pocket-logo.service-connection-img
      %a{href: "/users/auth/pocket", class:"pocket-auth-link auth-link", data: { provider: "pocket" }}
        %div.service-connect-btn.pocket-connect-btn
          Connect to Pocket

    %div.setup-output.pocket-output

  %section.setup-block
    %div.setup-image
      %div.lastfm-img.lastfm-logo.service-connection-img
      %a{href: "/users/auth/lastfm", class:"lastfm-auth-link auth-link", data: { provider: "lastfm" }}
        %div.service-connect-btn.lastfm-connect-btn
          Connect to LastFM

    %div.setup-output.lastfm-output

  %section.setup-block
    %div.setup-image
      %div.instapaper-img.instapaper-logo.service-connection-img
      %a{href: "/users/auth/instapaper", class:"instapaper-auth-link auth-link", data: { provider: "instapaper" }}
        %div.service-connect-btn.instapaper-connect-btn
          Connect to Instapaper

    %div.setup-output.instapaper-output

  %section.setup-block
    %div.setup-image
      %div.moves-img.moves-logo.service-connection-img
      %a{href: "/users/auth/moves", class:"moves-auth-link auth-link", data: { provider: "moves" }}
        %div.service-connect-btn.moves-connect-btn
          Connect to Moves

    %div.setup-output.moves-output

  %section.setup-block
    %div.setup-image
      %div.sleepcycle-img.sleepcycle-logo.service-connection-img
      %a{href: "/users/auth/sleepcycle", class:"sleepcycle-auth-link auth-link", data: { provider: "sleepcycle" }}
        %div.service-connect-btn.sleepcycle-connect-btn
          Connect to Sleep Cycle

    %div.setup-output.sleepcycle-output