!!!
%html
  %head
    %title Journal Bits
    %script{src: "//use.typekit.net/wgu7auc.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    - if Rails.env.development?
      :javascript
        window.heap=window.heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
        heap.load("3168722061");
    - elsif Rails.env.production?
      :javascript
        window.heap=window.heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
        heap.load("1533881964");
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    %section.main-container
      %header
        %nav
          %div.nav
            %div.nav-left
              %div.nav-logo
              %a{href: "/"}
                %span.jb-home.nav-symbol
                %span.nav-text
                  Journal Bits
            %div.nav-right
              %ul.nav-list-right
                - if user_signed_in?
                  %li.nav-connections
                    %a{href: "/connections"}
                      %span.jb-connections.nav-symbol
                      %span.nav-text
                        Connections
                  %li.nav-profile
                    %a{href: "/users/edit"}
                      %span.jb-profile.nav-symbol
                      %span.nav-text
                        Account
                  %li.nav-logout
                    %a{"data-method" => "delete", href: "/users/sign_out", rel: "nofollow"}
                      %span.jb-logout.nav-symbol
                      %span.nav-text
                        Logout
                - else
                  -# %li.nav-clef
                  %li.nav-login
                    %a{href:"/users/sign_in"}
                      %span.jb-login.nav-symbol
                      %span.nav-text
                        Login
                  %li.nav-register
                    %a{href:"/users/sign_up"}
                      %span.jb-register.nav-symbol
                      %span.nav-text
                        Register
      %section.main_body
        -if flash[:notice]
          %p.notice= flash[:notice]
        -if flash[:alert]
          %p.alert= flash[:alert]
        -if flash[:error]
          %p.error= flash[:error]
        = yield

    %footer
      %div.footer-text
        Journal Bits
      %div#heap-badge
        %a{href:"https://heapanalytics.com/?utm_source=badge"}
          %img{style:"width:108px;height:41px", src:"//heapanalytics.com/img/badgeLight.png", alt:"Heap - iOS and Web Analytics"}
      %section.nav-footer
        %ul
          %li
            %a{href: '/support'}
              Support
          %li
            %a{href: '/about'}
              About
