<!DOCTYPE html>
<html>
  
  <head>
    <title>Journal Bits</title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= link_to "Connections", "/connections" %>
            </li>
            <li>
              <%= link_to('Edit Profile', edit_user_registration_path) %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %>
            </li>
            <li>
             <%= link_to('Register', new_user_registration_path)  %> 
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <section class="main_body">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </section>

  </body>

</html>