!!!
%html
  %head
    %title Journal Bits
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %nav
        %ul
          %li.nav-home
            %a{href: "/"}
              %span.jb-home
              Home
          - if user_signed_in?
            %li.nav-connections
              %a{href: "/connections"}
                %span.jb-connections
                Connections
            %li.nav-profile
              %a{href: "/users/edit"}
                %span.jb-profile
                Profile
            %li.nav-logout
              = link_to('Logout', destroy_user_session_path, :method => :delete)

          - else
            %li
              = link_to('Login', new_user_session_path)
            %li
              = link_to('Register', new_user_registration_path)
    %section.main_body
      %p.notice= notice
      %p.alert= alert
      = yield
    
    %footer
      Journal Bits