!!!
%html
  %head
    %title Journal Bits
    %script{src: "//use.typekit.net/wgu7auc.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %section.main-container
      %header
        %nav
          %div.nav
            %div.nav-left
              %a{href: "/"}
                %span.jb-home.nav-symbol
                %span.nav-text
                  Journal Bits
            %div.nav-right
              %ul.nav-list-right
                - if user_signed_in?
                  %li.nav-connections
                    %a{href: "/connections"}
                      %span.jb-connections.nav-symbol
                      %span.nav-text
                        Connections
                  %li.nav-profile
                    %a{href: "/users/edit"}
                      %span.jb-profile.nav-symbol
                      %span.nav-text
                        Profile
                  %li.nav-logout
                    %a{"data-method" => "delete", href: "/users/sign_out", rel: "nofollow"}
                      %span.jb-logout.nav-symbol
                      %span.nav-text
                        Logout
                - else
                  %li.nav-clef
                  %li.nav-login
                    %a{href:"/users/sign_in"}
                      %span.jb-login.nav-symbol
                      %span.nav-text
                        Login
                  %li.nav-register
                    %a{href:"/users/sign_up"}
                      %span.jb-register.nav-symbol
                      %span.nav-text
                        Register
      %section.main_body
        %p.notice= notice
        %p.alert= alert
        = yield

    %footer
      Journal Bits